<!DOCTYPE html>
<link rel="stylesheet" href="{{ asset('css/adminHeader.css') }}" />
<html>
<body>
<ul class="header">
    <li><img src="{{ asset('images/quiz.png') }}" class="image"/></li>
    <li><a href="{{ url('adminMainMenu') }}">Home</a></li>
    <li><a href="{{ url('quizList') }}">Quizzes</a></li>
    <li><a href="{{ url('adminUserList_index') }}">Users</a></li>
    <li style="float:right"><a href="{{ path('logout') }}">Exit</a></li>
    <li style="float:right"><a id="name">{{ app.user.username }}</a></li>
</ul>
{% block body %}
{% endblock %}
</body>
</html>