<!DOCTYPE html>
<link rel="stylesheet" href="{{ asset('css/Header.css') }}" />
<html>
<body>
<ul class="header">
    <li><img src="{{ asset('bundles/quiz.png') }}" class="image"/></li>
    <li><a href="{{ url('userMainMenu') }}">Home</a></li>
    <li><a href="{{ url('goAdminPanel', {'username': app.user.username}) }}">GoAdminPanel</a></li>
    <li style="float:right"><a href="{{ path('logout') }}">Exit</a></li>
    <li style="float:right"><a id="name">{{ app.user.username }}</a></li>
</ul>
{% block body %}
{% endblock %}
</body>
</html>