<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block header %}
    {{ include('adminHeader.html.twig') }}
{% endblock %}
{% block body %}
<link rel="stylesheet" href="{{ asset('css/addAnswers.css') }}" />
    <div id="grad">
        <img src="{{ asset('bundles/science.png') }}" class="image1"/>
        <p class="www">Enter the answers:</p>
        {% block form %}
            {{ form_start(form) }}
        <div class="answ">
            {{ form_row(form.answer1) }}
            {{ form_row(form.answer2) }}
            {{ form_row(form.answer3) }}
            {{ form_row(form.answer4) }}
            <div class="correct">
                {{ form_row(form.correct) }}
            </div>
        </div>
            <button type="submit">Save</button>
            {{ form_end(form) }}
        {% endblock %}
    </div>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
</body>
</html>









