<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block header %}
    {{ include('adminHeader.html.twig') }}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/editQuiz.css') }}" />
    <div id="grad">
        <img src="{{ asset('images/science.png') }}" class="image1"/>
        <form class="answers">
            <input type="text" class="question" id="quest" name="quest" value="{{ question }}">
            <div class="answers1">
                <p>
                    <input type="text" class="answer1" id="a1" name="a1" value="{{ answer1 }}">

                </p>
                <p>
                    <input type="text" class="answer2" id="a2" name="a2" value="{{ answer2 }}">
                </p>
                <p>
                    <input type="text" class="answer3" id="a3" name="a3" value="{{ answer3 }}">
                </p>
                <p>
                    <input type="text" class="answer4" id="a4" name="a4" value="{{ answer4 }}">
                </p>
            </div>
        </form>
        <input type="text" class="correct" value="Correct answer - {{ correct }}" readonly>
        <input onclick="data('{{ quizName }}')" id="confirm" type="button" class="confirm" value="Confirm"/>
        <a href="{{ url('nextEditQuiz', { 'quizName': quizName, 'question': question, 'answer1': answer1, 'answer2': answer2, 'answer3': answer3, 'answer4': answer4 }) }}" class="next">Next</a>
    </div>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
</body>
</html>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript">
    function data(quizName) {

        var question = $("#quest").val();
        var answer1 = $("#a1").val();
        var answer2 = $("#a2").val();
        var answer3 = $("#a3").val();
        var answer4 = $("#a4").val();
        location.href = "adminChangeQuiz?quizName=" + quizName + "&question=" + question + "&answer1=" + answer1 + "&answer2=" + answer2 + "&answer3=" + answer3 + "&answer4=" + answer4;
    }
</script>