{% block header %}
    {{ include('adminHeader.html.twig') }}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/User.css') }}" />
    <div id="grad">
        <p class="www">User</p>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
            <a href="{{ path('adminUserList_index') }}" class="button">Back to the list</a>
            {{ form_start(delete_form) }}
                <input type="submit" class="delete" value="Delete">
            {{ form_end(delete_form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}