<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/QuizPage.css') }}" />
    <div id="grad">
        <img src="{{ asset('images/science.png') }}" class="image1"/>
        <form class="answers">
            <input type="text" class="question" value="{{ question }}" readonly>
            <div class="answers1">
                <p>
                    <input type="radio" class="radio" id="radio" name="radio">
                    <label for="radio">{{ answer1 }}</label>
                </p>
                <p>
                    <input type="radio" class="radio" id="radio" name="radio">
                    <label for="radio">{{ answer2 }}</label>
                    </p>
                <p>
                    <input type="radio" class="radio" id="radio" name="radio">
                    <label for="radio">{{ answer3 }}</label>
                </p>
                <p>
                    <input type="radio" class="radio" id="radio" name="radio">
                    <label for="radio">{{ answer4 }}</label>
                </p>
            </div>
        </form>
        <input id="confirm" onclick="writeUserAnswer('{{ idQuizQuestion }}', '{{ idAnswer }}', '{{ idQuestion }}', '{{ quizName }}', '{{ whatQuestion }}', '{{ idUser }}', '{{ idUserAnswer }}', '{{ countCorrect }}', '{{ correctAnswer }}', '{{ question }}', '{{ answer1 }}', '{{ answer2 }}', '{{ answer3}}', '{{ answer4 }}')" type="button" class="confirm" value="Confirm"/>
        <a id="next-q" href="{{ url('nextQuizPage', {'idQuizQuestion': idQuizQuestion, 'idAnswer': idAnswer, 'idQuestion': idQuestion, 'quizName': quizName, 'whatQuestion': whatQuestion, 'idUser': idUser, 'idUserAnswer': idUserAnswer, 'countCorrect': countCorrect, 'correctAnswer': correctAnswer, 'question': question, 'answer1': answer1, 'answer2': answer2, 'answer3': answer3, 'answer4': answer4 }) }}">
            <input id="next" name="next" type="button" class="next" value="Next"/>
        </a>
    </div>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
</body>
</html>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript">
    function writeUserAnswer(idQuizQuestion, idAnswer, idQuestion, quizName, whatQuestion, idUser, idUserAnswer, countCorrect, correctAnswer, question, answer1, answer2, answer3, answer4) {
        var radioButton = document.getElementsByName("radio");
        var indexRadioButton;

        $("#confirm").css("display", "none");
        $("#next").css("display", "block");

        if (radioButton[0].checked){
            indexRadioButton = 1;
        }

        if (radioButton[1].checked){
            indexRadioButton = 2;
        }

        if (radioButton[2].checked) {
            indexRadioButton = 3;
        }

        if (radioButton[3].checked){
            indexRadioButton = 4;
        }
        window.whatQuestion = whatQuestion;
        window.countCorrect = countCorrect;
        $.get("userAnswerWrite?currentAnswer=" + indexRadioButton + "&format=json"+"&idAnswer=" + idAnswer + "&idQuestion=" + idQuestion + "&quizName=" + quizName + "&idQuizQuestion=" + idQuizQuestion + "&whatQuestion=" + (whatQuestion) + "&countCorrect=" + countCorrect + "&idUser=" + idUser + "&idUserAnswer=" + idUserAnswer + '&correctAnswer=' + correctAnswer + '&question=' + question + '&answer1=' + answer1 + '&answer2=' + answer2 + '&answer3=' + answer3 + '&answer4=' + answer4)
            .then(function (data) {
                var link = $("a#next-q").attr("href");
                var newLink = link.replace(/&whatQuestion=\d+/, "")+"&whatQuestion="+data.whatQuestion;
                var newLink1 = newLink.replace(/&countCorrect=\d+/, "")+"&countCorrect="+data.countCorrect;
                $("a#next-q").attr("href", newLink1);
            });
        alert("You have clicked: " + indexRadioButton + "\n" + "Correct answer: " + correctAnswer);
    }
</script>