<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% block header %}
    {{ include('header.html.twig') }}
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/mainMenu.css') }}" />
    <div id="grad">
        <p class="www">Welcome, {{ app.user.username }}!</p>
        <form>
            <input list="Quizzes" id="quizName" class="quizzes" id="quizName" placeholder=" Please, select a quiz">
            <datalist id="Quizzes">
                {% for quiz in quiz %}
                    <option value="{{ quiz.name }}">
                {% endfor %}
            </datalist>
        </form>
        <input id="start" onclick="renderUserQuizPage({{ app.user.id }})" type="button" class="button" value="Start">
    </div>
{% endblock %}
{% block footer %}
    {{ include('footer.html.twig') }}
{% endblock %}
</body>
</html>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<script type="text/javascript">
    function renderUserQuizPage(idUser) {
        location.href = "userQuizPage?quizName=" + $("#quizName").val() + "&idUser=" + idUser;
    }
</script>