<body>
    <link rel="stylesheet" href="{{ asset('css/changePassword.css') }}" />
    {% block body %}
        {{ form_start(form) }}
        {{ form_row(form.Password.first) }}
        {{ form_row(form.Password.second) }}
        <input type="submit" name="submit" value="Confirm">
        {{ form_end(form) }}
    {% endblock %}
</body>